<div class= pages>
    <app-screen next= "/" previous= "/skills">
        <div class= contactInfo>
            <app-screen arrow= "none">
                <div>
                    <div class= mailLogo>
                        <img src= "../../assets/website_images/message.jpg" alt= "Mail Logo"/>
                    </div>
                    <div class= contact>[Mail Id (gmail)]: rishabhsharma3108</div>
                </div>
                <div>
                    <div class= phoneLogo>
                        <img src= "../../assets/website_images/phone.png" alt= "Phone Logo"/>
                    </div>
                    <div class= contact>[Phone No.]: +91-6363045740</div>
                </div> 
            </app-screen>                              
        </div>
        <div>
            <app-screen arrow= "none">
                <div class= title>GET IN TOUCH</div>
                <div class = text>
                    Send a general message or details of a project you'd like me to be a 
                    part of and I'll get back to you as soon as possible. 
                </div>
                <div class = mail>
                    <app-contact-form></app-contact-form>
                </div> 
            </app-screen>                              
        </div>
    </app-screen>
</div>
