<div class= pages>
    <app-screen next= "/portfolio" previous= "/">
        <div class= grid>
            <div class= profileImage>
                <img src= "../../assets/website_images/Photo.jpg" alt= "My Image"/>
            </div>
            <div class= introduction>
                <div>Hi,</div>
                <div class= para>   
                    My name is Rishabh Sharma. I’m Freelance Web and Mobile Developer having an 
                    experience of about 1 year. With the help of my knowledge I want to develope 
                    interactive and user friendly websites and mobile apps. I also have Machine 
                    Learning experience to help people grow their bussiness and reduce their 
                    expenses.
                </div>
                <div class= para>
                    At first during my college time I was interested in Machine Learning because 
                    it facinates me to see how computer predicts complex results based on the data, 
                    but during my final year of B.E. (Computer Science) I have to learn web and 
                    mobile development and I fell in love with it because it allows me to interact 
                    with other people and understand them.
                </div>
                <div class= para>
                    So, now I have become a full - time software developer who help people show 
                    their ideas and bussiness all around the world with websites & apps, and also 
                    help their bussiness grow with my machine learning knowledge.  I have also 
                    started designing websites and apps which help me to build interactive and 
                    user friendly websites and apps.
                </div>
            </div>
            <a href = "https://drive.google.com/uc?export=download&id=1shhOF5HgL59DjZkLfKTIwNoGhkU_uFa1">
                <div class= button>
                    <app-button>
                       <div class= text>DOWNLOAD RESUME</div>
                    </app-button> 
                </div>
            </a>
            <app-screen arrow= "none" class= summary>
                <div class= personalInfo>
                    <div>Name &ensp; >> &emsp;</div>   
                    <div class= infoDetails>Rishabh Sharma</div>
                    <div>Phone No. &ensp; >> &emsp;</div>   
                    <div class= infoDetails>+91- 6363045740</div>
                    <div>Email &ensp;(gmail)&ensp; >> &emsp;</div>   
                    <div class= infoDetails>rishabhsharma3108</div>
                    <div>Address &ensp; >> &emsp;</div>   
                    <div class= infoDetails>Bengaluru, Karnataka, India</div>
                    <div>Freelance &ensp; >> &emsp;</div>   
                    <div class= infoDetails>Available</div>
                </div>                                         
            </app-screen>
        </div>
    </app-screen>
</div>
